.body-content {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
 }
  
 .title {
    font-family: "Avenir";
    font-size: 50px;
    letter-spacing: 7px;
 }
  
 .image {
    width: 400px;
    height: 400px;
    border-radius: 200px;
    background-position: center;
    margin-top: 45px;
    margin-bottom: 45px;
 }
  
 .dog-input {
    width: 50%;
    font-size: 25px;
    outline: none;
    text-align: center;
    font-family: "Avenir";
    padding: 10px;
    border:none;
    border-radius: 40px;
    box-shadow: 0px 0px 10px rgba(179, 106, 12, 0.25);
 }
  
 .flower{
   content: url(https://www.vippng.com/png/full/285-2856133_orange-flower-png-orange-spring-flower-clipart.png);
   height: 100px;
   width: 100px;
}

.flower2{
   content: url(https://www.vippng.com/png/full/285-2856133_orange-flower-png-orange-spring-flower-clipart.png);
   height: 100px;
   width: 100px;
}

 .button-container {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
 }

 .random {
    background-color: #fff2a8;
    outline: none;
    font-family: "Avenir";
    padding: 10px;
    border:none;
    border-radius: 40px;
    box-shadow: 0px 0px 10px rgba(179, 106, 12, 0.25);  
 }
 
 .submit {
   background-color: #e97a1f;
   outline: none;
   font-family: "Avenir";
   padding: 10px;
   border:none;
   border-radius: 40px;
   box-shadow: 0px 0px 10px rgba(179, 106, 12, 0.25);
 }

 .both {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   width: 100vw;
 }